* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 320px; /* Set the desired width */
    height: 500px; /* Set the desired height */
    border: 2px solid #000000; /* Add a border with a 2px width and black color */
    background-color: #E0F2FE;
}

.calculator .display-container {
    height: 60px;
    width: 300px;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

  
.calculator button {
    width: 60px;
    height: 60px;
    font-family: "Roboto", sans-serif;
}
  
.calculator button.numbers {
    background-color: #6CB2EB;
    color: white;
}
  
.calculator button.operators {
    background-color: #9A70B4;
    color: black;
}
  
.calculator button.decimal {
    background-color: #53D6C7;
    color: black;
}
  
.calculator button.equals {
    background-color: #FF6090;
    color: white;
}
  
.calculator button.delete {
    background-color: #FF9345;
    color: white;
}
  
.calculator button.clear {
    background-color: #FFFFFF;
    color: black;
}

.calculator button.squared {
    background-color: #6EDC6B; 
    color: black;
}
  
.calculator button.square-root {
    background-color: #FFD700;
    color: white;
}


  